/*
 * Base structure
 */


/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
  border: 0;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
* Entries table
*/

#nodetable tr {
  cursor: pointer;
}
#nodetable tr.has-details.shown, #nodetable tr.highlighted-row {
  background-color: #d9edf7;
}
#nodetable tr.dns-details {
  background-color: #f5f5f5;
}
#nodetable table.row-details-table {
  margin-bottom: 0;
}
#nodetable tr.has-details > .details-control > .glyphicon {
  opacity: 0.5;
}
#nodetable table.row-details-table tr > td.answer_data {
  word-break: break-word;
}
table.borderless tr > td {
  border: none!important;
}
table.borderless tr > th {
  border-top: none!important;
  border-bottom: 1px solid #ddd;
}

/*
 * Node graph styles
 */

circle.node {
  cursor: pointer;
}

/*
* Node graph context menu
*/

.nodegraph-context-menu {
  position: absolute;
  display: none;
  z-index: 1200;
}
.nodegraph-context-menu ul.dropdown-menu {
  display: block;
}


/* Module console */
#module-console {
  height: 200px;
  overflow-y: auto;
}

#module-console > div {
  color: #555;
}
