{% extends "layout.html" %} {% block body %}
<div class="row" id="scan-header-wrapper">
  <div class="col-md-12">
    <div>
      <button type="button" id="start-stop" class='btn pull-right btn-primary start-scan'>Start</button>
      <!-- <div id="scan-form">
        <form class="form-inline" action="#" method="POST" id="start-scan">
          <button type="submit" class="btn btn-primary" id="submit">Start Scan</button>
        </form>
      </div> -->

      <h2 class="page-header scan-header" id="scan-idle-header">Scan for devices</h2>
      <h2 class="page-header scan-header" id="scan-results-header" style="display:none;">
        <span id="scan-results-count">No</span> devices found
      </h2>
    </div>

    <div id="scan-error" style="display: none;">
      <div class="alert alert-danger" role="alert">
        <strong>Error! </strong>No devices found.
      </div>
    </div>
    <div id="scan-progress" style="display:none;">
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
          <span>Scanning...</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="scan-results" style="display: none;">
  <div class="row">
    <div class="col-md-6">
      <div id="nodegraph">
      </div>
    </div>
    <div class="col-md-6">
      <div id="nodetable-wrapper">
        <table class="table table-hover" id="nodetable">
          <thead>
            <tr>
              <th>Details</th>
              <th>IP Address</th>
              <th>MAC Address</th>
              <th>Device Name</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
