{% extends "layout.html" %}


{% block body %}
<h2 class="page-header">{{ entries|length }} devices found</h2>
<div class="row">
  <div class="col-md-6">
    <div id="nodegraph">

    </div>
  </div>
  <div class="col-md-6">
    <div>
      <table class="table table-striped" id="nodetable">
        <thead>
          <tr>
            <th></th>
            <th>IP Address</th>
            <th>MAC Address</th>
            <th>Device Name</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
<script>
  $(function(){
    var entries = {{entries|safe}};
    for(var i in entries){
      var x = parseInt(i);
      nodegraph.graph.nodes.push({
        "id": entries[i].ip,
        "value": 1,
        "x": nodegraph.width/3,
        "y": nodegraph.height/3,
        "index": x+1,
        "name": entries[i].device_name || null,
        "dns": $.isEmptyObject(entries[i].dns_data) ? null : entries[i].dns_data
      });
      nodegraph.graph.links.push({
        "source": 0,
        "target": x+1});
    }
    nodetable.init(entries);
    nodegraph.init();
  });
</script>
{% endblock %}
